                        <div class="card mt-4">
                            <div class="card-header">
                                <button type="button" id="manual_trigger" onclick="make_manual_shot()" class="btn btn-primary float-end"><img src="assets/img/cam.svg" width="18" height="auto" data-bs-toggle="tooltip" title="Ausl&ouml;ser"></button><h5 class="card-title">Controller-Info</h5>
                            </div>
                            <div class="card-body">
                                <div id="noshot" style="display: none;">
                                    <em>F&uuml;r heute sind keine weiteren Bilder geplant.</em>
                                </div>
                                <div id="shotcounter" style="display: block;">
                                    <h6>N&auml;chstes Bild in:</h6><br>
                                    <h1 class="text-center" id="shot-countdown">--:--</h1>
                                </div>
                            </div>
                        </div>