                        <div class="card mt-4">
                            <div class="card-header">
                                <h5 class="card-title">Sonneninfo</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <img src="assets/img/date.svg" class="radio-image">
                                        13.03.2021
                                    </div>
                                    <div class="col-6 mt-2">
                                        <img src="assets/img/day_length.svg" class="radio-image">
                                        9:38:53
                                    </div>
                                    <div class="col-6 mt-2">
                                        <img src="assets/img/solar_noon.svg" class="radio-image">
                                        12:25 Uhr
                                    </div>
                                    <div class="col-6 mt-2">
                                        <img src="assets/img/sunrise.svg" class="radio-image">
                                        06:49 Uhr
                                    </div>
                                    <div class="col-6 mt-2">
                                        <img src="assets/img/sunset.svg" class="radio-image">
                                        18:01 Uhr
                                    </div>
                                    <div class="col-6 mt-2">
                                        <img src="assets/img/civil_twilight_begin.svg" class="radio-image">
                                        06:18 Uhr
                                    </div>
                                    <div class="col-6 mt-2">
                                        <img src="assets/img/civil_twilight_end.svg" class="radio-image">
                                        18:32 Uhr
                                    </div>
                                    <div class="col-6 mt-2">
                                        <img src="assets/img/nautical_twilight_begin.svg" class="radio-image">
                                        05:42 Uhr
                                    </div>
                                    <div class="col-6 mt-2">
                                        <img src="assets/img/nautical_twilight_end.svg" class="radio-image">
                                        19:08 Uhr
                                    </div>
                                    <div class="col-6 mt-2">
                                        <img src="assets/img/astronomical_twilight_begin.svg" class="radio-image">
                                        05:05 Uhr
                                    </div>
                                    <div class="col-6 mt-2">
                                        <img src="assets/img/astronomical_twilight_end.svg" class="radio-image">
                                        19:44 Uhr
                                    </div>
                                </div>
                            </div>
                        </div>
