.spacer {
    margin-top: 50px;
}

.radio-image {
    height: 16px;
    width: auto;
}

.form-check {
    margin-top: 5px;
}

.time-selector {
    line-height: 28px;
}

input[type=number] {
    text-align: right;
}

h6 {
    font-weight: bold;
}

#logo-large {
    width: 100%;
    height: auto;
    margin-top: 20px;
}